@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;

  /* Inter menjadi font sans default untuk seluruh halaman */
  --font-sans: "Inter", sans-serif;

  /* Font pendukung lainnya */
  --font-spartan: "League Spartan", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-bubbles: "Rubik Bubbles", cursive;
}
